/* Estilos acerca de nosotros */
h1{
    color: #02968a;
    font-family: "Poppins", serif;
    font-style: bold;
    margin: 15px;
}

.lead{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: black;
    margin: 30px;
}

.carousel-caption h5{
    font-size: 22px;
    font-family: "Poppins", serif;
}

.carousel-caption p{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

h2{
    font-family: "Poppins" sans-serif;
    font-size: 45px;
    color: #023d54;
}
.card{
    margin: 25px ;
    background-attachment: fixed;
    border-color: #023d54;
    box-shadow: 0 0 10px 5px #023d54
}
.card-body h5{
    color:#02968a; 
    font-family: "Poppins", serif;
}

.card-body p{
    font-family: "Montserrat", sans-serif;
    color: #023d54;
}