:root {
  --petme-bg: #0E182B;
  --petme-text: #ffffff;
  --petme-primary: #02968a;
  --petme-primary-hover: #94dea5;
  --petme-accent: #023d54;
  --petme-border: #037f74;
  --petme-container-bg: #0E182B;
  --petme-font-primary: 'Poppins', sans-serif;
}

body {
  background-color: var(--petme-accent);
  font-family: var(--petme-font-primary);
  padding-top: 90px;
}

.petme-form-wrapper {
  border-radius: 12px;
  overflow: hidden;
}

.petme-form-image {
  background-image: url('/Img/adop1.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px;
}

input.form-control:hover,
textarea.form-control:hover {
  border-color: var(--petme-accent);
  box-shadow: 0 0 0 0.25rem var(--petme-shadow-focus);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input.form-control,
textarea.form-control {
  background-color: var(--petme-container-bg);
  color: var(--petme-text);
  border: 2px solid var(--petme-text);
  border-radius: 8px;
  font-family: var(--petme-font-secondary);
  padding: 10px;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
  color: var(--petme-placeholder);
}

input.form-control:focus,
textarea.form-control:focus {
  background-color: var(--petme-text);
  border-color: var(--petme-accent);
  box-shadow: 0 0 0 0.25rem var(--petme-shadow-focus);
  outline: none;
  color: var(--petme-container-bg);
}

input.form-control.has-content,
textarea.form-control.has-content {
  background-color: var(--petme-text);
  color: var(--petme-container-bg);
}
.petme-accent-text {
  color: var(--petme-accent);
  font-size: 2rem;
  font-weight: bold;
}
.petme-btn {
  background-color: var(--petme-primary);
  color: var(--petme-text);
  font-weight: bold;
  border: none;
}

.petme-btn:hover {
  background-color: var(--petme-primary-hover);
}

.petme-formulario {
  background-color: var(--petme-container-bg);
  box-shadow: 0 0 10px var(--petme-shadow-btn);
}

/* Estilos para el navbar */

#navbar-acercade {
  background-color: var(--petme-bg);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: auto;
}

#navbar-acercade .navbar-brand img {
  width: 60px;
  height: 60px;
}

#navbar-acercade .navbar-brand,
#navbar-acercade .nav-link {
  color: var(--petme-text) !important;
}

.navbar-toggler-icon {
  /* Este SVG usa el color #02968a (tu --petme-primary) */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFF66' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* --- Estilos para el Menú lateral (Offcanvas) --- */

#offcanvasDarkNavbar {
  background-color: var(--petme-accent) !important;
}